.error {
  padding: 10px;
  width: fit-content;
  background-color: aliceblue;
  box-shadow: lightgray;
  margin-top: 10px;
}
.slide-in-from-left {
  animation: slideLeft 0.5s ease-in-out;
}

@keyframes slideLeft {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
